<script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/materialize.min.js"></script>
<script src="{{site.baseurl}}/assets/js/init.js"></script>
</body>
<footer class="page-footer">
  <div class="footer-copyright" style="padding-left: 30px">
    <i class="material-icons" style="padding-right:5px">copyright</i><p>2018 Copyright {{ site.name }} | All rights reserved |
     {% if site.github %}

    <a href={{site.github}}> Github | </a>

    {% endif %}
    {% if site.linkedin %}

    <a href={{site.linkedin}}>  Linkedin | </a>

    {% endif %}
    {% if site.resume %}

    <a href={{site.resume}}>  Resume | </a>

    {% endif %}
    {% if site.cv_online %}

    <a href={{site.cv_online}}> Online CV | </a>

    {% endif %}
    {% if site.blog %}

    <a href={{site.blog}}>Blog | </a>

    {% endif %}



  </p>
  </div>
</footer>
</html>
