<div id="home" class="section scrollspy">
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center teal-text text-lighten-2" style="text-shadow: #000000 1px 1px">{{ site.name }}</h1>
                <div class="row center">
                    <h5 class="header col s12 light" style="text-shadow: #000000 1px 1px">{{ site.description_user }}</h5>

                   <!--links to parts-->


                </div>
                <p style="text-align:center;"><a class="waves-effect waves-light btn grey darken-3 z-depth-3" href="/blog/index.html"><i class="material-icons right">library_books</i>Blog</a></p>
                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="{{site.parallax_image_one}}" alt="Nasrudin Salim picture"></div>
    </div>
</div>