<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="{{site.keywords_SEO}}">
        <meta name="author" content="{{site.name}}">
        <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
        <title>{{site.title}}</title>
        <link rel="icon" type="image/jpg" href="./assets/images/NasrudinCropped.jpg">


      <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/materialize.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">




      {{ include google_analytics.html }}


    </head>
    <body>
