<div class="row">

    {% for project in site.projects %}
    <div class="col s12 m6">
        <div class="card medium sticky-action">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{project.picture}}">
            </div>
            <div class="card-action">
                <span class="card-title activator grey-text text-darken-4">{{project.title}}<i class="material-icons right">more_vert</i></span>
                <p><a href="{{project.url}}">{{project.url_title}}</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                <p>{{project.description}}</p>
            </div>
        </div>
    </div>


    {% endfor %}

  </div>
